 *, html{
    padding: 0px;
    margin: 0px;

 }

 .header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .header ul {
     display: flex;
     gap: 10px;
 }

 .icon {
    position: relative;
    display: block;
    width: 18px;
    height: 18px;
    color: #f0c51d;
 }

 .header ul li{
    text-decoration: none;
 }

 .mycard{
  
   height: 100%;
   padding: 40px 80px;
   box-shadow: -8px -8px 45px rgba(0, 0, 0, 0.1), 8px 8px 45px rgba(255, 255, 255, 1);
   border-radius: 8px;
   background-color: #ffffff;
}

.content {
   margin-top: 100px;
   margin-left: 50px;
   margin-right: 50px
   /* margin: 50px 100px 50px 100px ; */
}
